{% extends 'base.html' %}

{% block content %}
<form action="{% url 'merge' %}" method="post" enctype="multipart/form-data" style="text-align: left;">
  {% csrf_token %}
  <div class="row">

    <div class="col">
      <div class="form-row">
        <div class="card" style="background-color: transparent; padding-bottom: 27px;">
          <div class="card-body">
            <h5 class="card-title">Biblioteca Base</h5>
            <h6 class="card-subtitle mb-2 text-muted"> (archivo zip) </h6>
            <p class="card-text">Selecciona la biblioteca sobre la que se van importar los datos de las demás bibliotecas.</p>
            <div class="form-row">
              <div class="col-md-10">
                <div class="file-loading">
                  <input id="input-bbase" name="input-bbase" class="libraryUploader" type="file" data-show-preview="false" data-show-upload="false" data-show-remove="false" data-msg-placeholder="Biblioteca Base">
                </div>
              </div>
            </div>
            <div class="form-row" style="height: 23px;">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" style="background-color: transparent;">
        <div class="card-body">
          <h5 class="card-title">Biblioteca/s Secundaria/s</h5>
          <h6 class="card-subtitle mb-2 text-muted"> (archivo zip) </h6>
          <p class="card-text">Seleccione las bibliotecas que se van a anexar. Opcionalmente puede añadir un sufijo para las ubicaciones.</p>
          <div id="secondary-libraries-fields">
            <div class="form-row bsecundaria-block" style="margin-bottom: 12px;">
              <div class="col-md-8">
                <div class="file-loading">
                  <input id="input-bsecundaria" name="input-bsecundaria[]" class="libraryUploader" type="file" data-show-preview="false" data-show-upload="false" data-show-remove="false" data-msg-placeholder="Biblioteca Secundaria">
                </div>
              </div>
              <div class="col-md-2">
                <input type="text" name="suffixes[]" class="form-control" placeholder="Sufijo">
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col">

              <input type="button" class="btn btn-light" name="add-secondary-library" id="add-secondary-library" value="Añadir otra biblioteca secundaria">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="float: right;">
    <div style="padding: 17px;">
      <input type="submit" value="Combinar Bibliotecas >>" class="btn btn-warning">
    </div>
  </div>

</form>

<!-- Bloque con el código para añadir un nuevo input-file a las bibliotecas secundarias -->

<div id="bsecundaria-copy-block" style="display: none">
  <div class="form-row bsecundaria-block" style="margin-bottom: 12px;">
    <div class="col-md-8">
      <div class="file-loading">
        <input name="input-bsecundaria[]" class="libraryUploader" type="file" data-show-preview="false" data-show-upload="false" data-show-remove="false" data-msg-placeholder="Biblioteca Secundaria">
      </div>
    </div>

    <div class="col-md-2">
      <input type="text" name="suffixes[]" class="form-control" placeholder="Sufijo">
    </div>

    <div class="col-md-2">
      <input type="button" class="remove-bsecundaria btn btn-danger" placeholder="Sufijo" value="X">
    </div>
  </div>
</div>
{% endblock %}
