[Unit]
Description=Gunicorn server for abiesmerger.cpr

[Service]
Restart=on-failure
User=juan
WorkingDirectory=/home/juan/sites/abiesmerger.cpr
ExecStart=/home/juan/sites/abiesmerger.cpr/virtualenv/bin/gunicorn \
  --bind unix:/tmp/abiesmerger.cpr.socket \
  abiesmerger.wsgi:application

[Install]
WantedBy=multi-user.target
